.content-user {
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    position: relative;
    overflow: auto;
}

.user {
    height: 100%;
    position: absolute;
    width: 100%;
    padding:10px;
}

.statistic{
   background: #ECECEC;
   padding:15px;
}