.content-folder {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    height: 100%;
  }
  
  .left-wrapper {
    height: 100%;
    overflow: hidden;
    width: 300px;
    flex-shrink: 0;
    background: #fff;
    margin:10px 8px ;
  }
  
  .right-wrapper {
    flex: 1 1 auto;
    height: 100%;
    overflow: hidden;
    margin:10px 8px ;
  }
  