.editor-panel{
    padding:24px 0;
    background: #fff;
    height: 100%;
    /* position: absolute; */
    /* left: 500px; */
    flex: 1 1 auto;
    z-index: 9;
}

.panel-header{
    display: flex;
    justify-content: space-between;
    padding:5px 15px;
}

.panel-titlie{
    font-size: 16px;
    font-weight: 400;
}
.action-item{
    margin:0 5px;
}
.editor-wrapper{
    background: #fff;
}

.editor-empty{
    margin-top:150px;
}
