ul {
    list-style: none;
}

.todo {
    width: 300px;
    position: relative;
    height: 100%;
    display: flex;
    overflow: hidden;
}


/* 查询新增 */
.action-wrap {
    display: flex;
    align-items: space-between;
    padding: 15px 15px 5px 15px;
    position: absolute;
    top: 0;
}

/* 目录类别 */

.list-wrap {
    flex: 1 1 auto;
    margin-top: 60px;
    position: relative;
}


.todo-list {
    margin: 15px 0;
    width: 300px;
    bottom: 0;
    padding: 0;
    top: 0;
    position: absolute;
    overflow-y: scroll;
    
}

.todo-list::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
.todo-list::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    box-shadow:0px 1px 3px rgba(0,0,0,0.3) inset;
    background: rgba(0,0,0,0.2);
}
.todo-list::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 5px;;   
    background: rgba(0,0,0,0.1);
}

.todo-list::-webkit-scrollbar-button{/*滚动条两端的按钮，可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果（位置2）*/
    background:rgba(0,0,0,0.3);
}

/* 单条记录 */
.todo-item {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
}

.todo-item:hover {
    background: #eaf0fb94 !important;
}

.item-header {
    width: 100%;
    display: flex;
}

.item-header h4 {
    font-size: 16px;
    flex: 1 1 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* 列表鼠标经过显式层 */
.item-header .item-action {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 16px;
    display: none;
}

.item-header .rename-input {
    width: auto;
    font-size: 14px;
}

.item-header .action-icon {
    margin: 0 5px;
    cursor: pointer;
    width: 22px;
}

.item-header .item-over {}

/* 添加文件名称model */

.todo-create-modal {
    align-items: center;
    display: flex;
    margin: 5px 10px;
}

.todo-create-modal .modal-btn {
    margin-left: 15px;
}